.App {
    background-color: #F4F5F9;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
nav {
    padding: 20px 30px 0 30px;
    color: #636363;
    font-weight: 500;
    display: flex;
    align-items: baseline;
    gap: 10px;
  }
  
nav button {
    padding: 5px 15px;
    border: 1px solid #F4F5F9;
    border-radius: 20px;
    background-color: #F4F5F9;
    color: #636363;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
  }
  
nav button:hover {
    border: 1px solid #CFD2DC;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2em;
}

.page-button{
  background-color: #E1E4EA;
  border: 1px solid #CFD2DC;
}

.filtered-button {
    background-color: #E1E4EA;
    border: 1px solid #CFD2DC;
  }
   
.filter-clear-button {
  color:#918587;
  font-weight: 100;
}

.email {
    display: flex;
    padding: 0px 25px;
    height: 80vh;
    gap: 17px;
  }
  
main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
  }
  
::-webkit-scrollbar {
    width: 0px;
  }
  
main, .full {
    width: 100%;
  }
  
main, .side {
    width: 33%;
  }
  
aside{
    width: 150%;
    padding: 20px 5px;
    color: #636363;
  }
  
main section{
    cursor: pointer;
  }
  
section{
    display: flex;
    border: 1px solid #CFD2DC;
    border-radius: 7px;
    padding: 10px;
    background-color: white;
  }
  
.read {
    background-color: #F2F2F2;
  }
  
.selected {
    background-color: white;
    border: 1px solid #E54065;
  }
  
.avatar{
    width: 75px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
  }
  
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 3px;
    background-color: #E54065;
    color: white;
  }
  
.details {
    display: flex;
    flex-direction: column;
  }
  
.details p {
    margin: 5px;
    color: #636363;
  }
  
.details p span {
    font-weight: bold;
  }
  
.fav {
    border-radius: 20px;
    font-weight: 10;
    color: #E54065;
    padding: 0 15px 3px 15px;
    margin: 0 0 0 10px;
  }
  
.email-body {
    padding: 30px 10px;
    overflow-y: auto;
    max-height: 70vh;
  }
  
.details {
    width: 100%;
    padding: 0 20px 0 0;
  }
  
.body-details {
    display: flex;
    justify-content: space-between;
  }
  
.name {
    font-size: 23px;
    font-weight: 500;
  }
  
.body-details button{
    border: 1px solid #E54065;
    margin: 5px 0px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
.fav{
    background-color: #E54065;
    color: white;
  }
  
.notfav{
    background-color: white;
    color: #E54065;
  }